# --- DÉPENDANCES ---
node_modules/
.pnp
.pnp.js

# --- VARIABLES D'ENVIRONNEMENT (CRITIQUE SÉCURITÉ) ---
.env
.env.*.local
.env.local
.env.development
.env.test
.env.production
*.pem

# --- NEXT.JS (App Admin) ---
.next/
out/
build/

# --- ASTRO & VITE (App Web) ---
dist/
.astro/
.vite/

# --- MONOREPO & CACHES (Performances CI/CD) ---
.turbo/
.vercel/
tsconfig.tsbuildinfo
.eslintcache

# --- PRISMA (Base de données locale) ---
*.db
*.db-journal
# Remarque : Ne pas ignorer le dossier prisma/migrations/ !

# --- LOGS & DIAGNOSTICS ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-debug.log*

# --- SYSTÈMES D'EXPLOITATION & IDE ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?